
<script >
	$(document).ready(function() {



		$("#user-form").submit(function (event)
		{

			event.preventDefault();

			if($("#userId").val() == '' || $("#userPw").val()  == '' ) {
				alert("아이디 및 비밀번호를 입력해 주세요.");
				return false;
			}

			const userId = $("#userId").val();

			
			event.preventDefault();

 	      $.ajax({
	        type : "GET",
	        url : "/ajax/userIdChk?userId=" + userId,
	        dataType: 'text',
			success: function (data, textStatus, xhr) {

				
				if(data == 'fail'){
					alert("이미 해당 아이디를 사용하는 사용자가 존재합니다.")
				} else {
					userRegister();
				}
				

				

	        },
	        error: function (xhr, error_text, statusText) {

	        	alert("통신이 실패했습니다. 관리자에게 문의해주세요.");
	        	

	        }
	 
	      });







		})

// Dont' Touch
	});



</script>


	<section id="about">
		<div class="container">
		


			<div class="row">
				<div class="col-lg-8 mx-auto">

					<form th:action="@{/user}" class="form-horizontal" id="user-form" th:object="${user}"  method="post">
					<div class="form-group form-group-lg bg-light">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-12"> 
							아이디<input type="text" class="form-control w40" th:field="*{userId}" id="userId" />
							비밀번호<input type="password" class="form-control w40" th:field="*{password}" id="userPw" />
							사용자성명<input type="text" class="form-control w40" th:field="*{userNm}" id="userNm" />
							유저메일<input type="text" class="form-control w40" th:field="*{userMail}" id="userMail" />
							<input type="hidden" class="form-control w40" th:field="*{userAuth}" id="userAuth" />
							<button id="bth-search" value="submit"
								class="btn btn-primary btn-lg" >회원가입</button>
						</div>
					</div>
					</form>


				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<div id="searchResult">
				</div>
				<div id="searchPaging" style="text-align: center;">
				</div>
			</div>
		</div>
	</section>




