

<script >
	$(document).ready(function() {
		const text = 
		`
		북덕방은 제가 활동하고 있는 작은 모임 이름입니다.
		<br>
		최근 시간이 나서 한번 제가 0부터 1까지 프로그램을 한번 만들어 보고 싶었습니다
		<br>
		최대한 안써본 기술을 위주로 사용해 본 것이라 많이 미흡하긴 하지만
		<br>
		혼자 삽질 하면 그래도 많은 것을 꺠닫게 된 것 같습니다.
		<br>
		`
		;
		$('#testShow').html(text);


	});



</script>



	<section id="about">
		<div class="container">
		


			<div class="row">
				<div class="col-lg-8 mx-auto">


					<div class="form-group form-group-lg bg-light">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-12" > 
							<div id="testShow"></div>


						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<div id="searchResult">
				</div>
				<div id="searchPaging" style="text-align: center;">
				</div>
			</div>
		</div>
	</section>
