
<script >
	$(document).ready(function() {



		$("#bookShelves").submit(function (event)
		{

			event.preventDefault();

			if($("#userId").val() == '' || $("#userPw").val()  == '' ) {
				alert("아이디 및 비밀번호를 입력해 주세요.");
				return false;
			}

			const userId = $("#userId").val();

			
			event.preventDefault();

 	      $.ajax({
	        type : "GET",
	        url : "/ajax/userIdChk?userId=" + userId,
	        dataType: 'text',
			success: function (data, textStatus, xhr) {

				
				if(data == 'fail'){
					alert("이미 해당 아이디를 사용하는 사용자가 존재합니다.")
				} else {
					alert("!!!");
					register();
				}
				

				

	        },
	        error: function (xhr, error_text, statusText) {

	        	alert("통신이 실패했습니다. 관리자에게 문의해주세요.");
	        	

	        }
	 
	      });







		})

// Dont' Touch
	});

	function bookRegister(){

			alert("등록");
			// event.preventDefault();

 			var $form = $('#bookShelves'),
 				params = $form.serialize(),
 				url = $form.attr('action');


		   $.ajax({
	        type: 'POST',
	        url: '/user',
	        dataType: 'json',
	        data: params,

	        success: function (data, textStatus, xhr) {

	        	console.log(data);
	        	console.log(textStatus);
	        	console.log(xhr);

	        	alert('성공적으로 회원가입에 성공하셨습니다.')
	
				ajaxMove('login')

	        },
	        error: function (xhr, error_text, statusText) {


	        	console.log(error_text);
	        	console.log(statusText);
	        	console.log(xhr);



        		alert('성공적으로 회원가입에 성공하셨습니다.')
	
				ajaxMove('login')


	        	alert("통신이 실패했습니다. 관리자에게 문의해주세요.");
	        	

	        }
	    });

	}



</script>


	<section id="about">
		<div class="container">
		


			<div class="row">
				<div class="col-lg-8 mx-auto">

					<form th:action="@{/user}" class="form-horizontal" id="bookShelves" th:object="${bookShelves}"  method="post">
					<div class="form-group form-group-lg bg-light">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-12"> 
							서재명<input type="text" class="form-control w40" th:field="*{bookShelvesNm}" id="bookShelvesNm" />
							공개여부<input type="text" class="form-control w40" th:field="*{opnYn}" id="opnYn" />
							<button id="bth-search" value="submit"
								class="btn btn-primary btn-lg" >추가</button>
						</div>
					</div>
					</form>


				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<div id="searchResult">
				</div>
				<div id="searchPaging" style="text-align: center;">
				</div>
			</div>
		</div>
	</section>




