<div th:fragment="templateLogin">

<script >
	$(document).ready(function() {



		$("#user-form").submit(function (event)
		{


			if($("#userId").val() == '' || $("#userPw").val()  == '' ) {
				alert("아이디 및 비밀번호를 입력해 주세요.");
				return false;
			}


			event.preventDefault();

 			var $form = $(this),
 				params = $form.serialize(),
 				url = $form.attr('action');


		   $.ajax({
	        type: 'POST',
	        url: url,
	        dataType: 'json',
	        data: params,

	        success: function (data, textStatus, xhr) {


				localStorage.setItem("Authorization",data.token);

				$.ajaxSetup({
					  headers: {
					    'Authorization': window.localStorage.getItem("Authorization")
					  }
					});

				changeLogin();

	        },
	        error: function (xhr, error_text, statusText) {

	        	alert('계정이 존재하지 않거나 비밀번호가 일치하지 않습니다.');
	        	

	        }
	    });


		})

// Dont' Touch
	});



</script>


	<section id="about">
		<div class="container">
		


			<div class="row">
				<div class="col-lg-8 mx-auto">


					<form  th:action="@{/authenticate}" class="form-horizontal" id="user-form" th:object="${jwtRequest}" method="post">
					<div class="form-group form-group-lg bg-light">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-12"> 
							아이디<input type="text" class="form-control w80" th:field="*{userId}" id="userId"  />
							비밀번호<input type="password" class="form-control w80" th:field="*{userPw}" id="userPw"  />

							<button id="bth-search" 
								class="btn btn-primary btn-lg" >로그인</button>
						</div>
					</div>
				</form>
							<button id="bth-join" value="button" 
								class="btn btn-primary btn-lg" onclick="ajaxMove('join');" >회원가입</button>								

				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<div id="searchResult">
				</div>
				<div id="searchPaging" style="text-align: center;">
				</div>
			</div>
		</div>
	</section>


</div>