

<div th:fragment="mainSearch">

<script>

	$("#keyword").keyup(function(e){
		if(e.keyCode == 13)  
			searchBooks();			
	});






</script>



<div class="container">

	<form th:action="@{/bookShelves/book}" class="form-horizontal" id="book-form" th:object="${book}"  method="post">
							<input type="hidden"  th:field="*{title}" id="titleRaw" />
							<input type="hidden"  th:field="*{image}" id="imageRaw" />
							<input type="hidden"  th:field="*{author}" id="authorRaw" />
							<input type="hidden"  th:field="*{isbn}" id="isbnRaw" />
							<input type="hidden"  th:field="*{publisher}" id="publicsherRaw" />

	</form>


	<section id="about">
		

			<div class="row">
				<div class="col-lg-8 mx-auto">


					<!-- <form class="form-horizontal" id="search-form"> -->
					<div class="form-group form-group-lg bg-light" style="padding-top: 5px; padding-right: 5px;padding-bottom: 30px; padding-left: 5px;">
						<label class="col-sm-2 control-label">&nbsp;<b>검색조건</b></label>
						<div class="col-sm-12">
									<label class="select"> 
							<select class="selectMain" name="type" id="type">전체
								<option value="query">전체</option>
								<option value="d_titl">제목</option>
								<option value="d_auth">저자</option>
								<option value="d_publ">출판사</option>
								<option value="d_cont">설명</option>
								<option value="d_isbn">ISBN</option>

								
							</select>
									</label>
							<input type="text" class="form-search-control w70" id="keyword">
							<button id="bth-search" class="btn btn-primary btn-lg" onclick="searchBooks()">검색</button>
						</div>
					</div>

				</div>
			</div>
		</section>



	<section id="services" class="bg-light">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<div id="searchResult">
				</div>
				<div id="searchPaging" style="text-align: center;">
				</div>
			</div>
		</div>
	</section>

</div>

	


</div>