<!DOCTYPE html>
<html lang="kr">

<head>

<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>북덕방에 오신 것을 환영합니다</title>

<div th:replace="include/header :: templateJs">
</div>

<!-- 네이버 API로그인  -->
<script type="text/javascript"
	src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
	charset="utf-8"></script>
</head>

<script>
	$(document).ready(function() {

	});

	function searchBooks(targetPage) {




		const searchBooks = {};
		searchBooks["keyword"] = $("#keyword").val();
		if(targetPage == undefined) {
		searchBooks["start"] = 1;
		} else {
		searchBooks["start"] = targetPage;
		}

		console.log(searchBooks);

		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "/search/book",
			data: searchBooks,
			dataType : 'json',
			cache : false,
			timeout : 600000,

			success : function(data) {

				var line = '';

				console.log("SUCCESS : ", data);

				if(data.total === 0) {

					line = `
					<h4 class="center">요청하신 검색어로는 검색결과가 존재하지 않습니다</h4>
					`
					const pageResult = ``;
					$('#searchPaging').html(pageResult);

				} else {


					// 	line += `
					// <table  style="width:100%; border: 0px solid black">
					// 	`;
					


					$(data.items).each(function (index, item){

						line += `
						<table  style="width:100%; border: 0px solid black; margin-bottom : 5px;">
						<tr>
							<td rowspan=4 style="width :15%; "><img src="${item.image}"/></td>
							<td style="width :85%">${item.title}</td>
						</tr>
						<tr>
							<td>저자 : ${item.author}</td>
						</tr>
						<tr>
							<td>출판사 : ${item.author}</td>
						</tr>						
						<tr>
							<td>${item.description}</td>
						</tr>						
						</table>
						`;


					});

					// console.log(data);

					const params = { 
						divId : "searchPaging", 
						pageIndex : data.start, 
						totalCount : data.total, 
						eventName : "searchBooks" 
					}; 

					gfn_renderPaging(params);

				}




				$('#searchResult').html(line);


			},
			error : function(e) {

				// var json = "<h4>Ajax Response</h4>&lt;pre&gt;"
				//     + e.responseText + "&lt;/pre&gt;";
				// $('#feedback').html(json);

				console.log("ERROR : ", e);
				// $("#btn-search").prop("disabled", false);

			}
		});

	}
</script>



<body id="page-top">



	<div th:replace="include/header :: templateHeader">
	</div>

	<header class="bg-primary text-white">
		<div class="container text-center">
			<h1>북덕방에 오신것을 환영합니다</h1>
			<p class="lead">책 관련 서평 및 서재를 공유할 수 있는 공간입니다</p>		
	</header>






	<section id="about">
		<div class="container">
		

			<div class="row">
				<div class="col-lg-8 mx-auto">


					<!-- <form class="form-horizontal" id="search-form"> -->
					<div class="form-group form-group-lg bg-light">
						<label class="col-sm-2 control-label">책제목</label>
						<div class="col-sm-10">
							<input type="text" class="form-control80" id="keyword" />
							<button id="bth-search"
								class="btn btn-primary btn-lg" th:onclick="searchBooks()">검색</button>
						</div>
					</div>

<!-- 					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="bth-search"
								class="btn btn-primary btn-lg" th:onclick="searchBooks()">검색</button>
						</div>
					</div>
 -->					<!-- </form> -->


			<div id="naver_id_login">
				
			</div>



				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="col-lg-8 mx-auto">
				<div id="searchResult">
				</div>
				<div id="searchPaging" style="text-align: center;">
				</div>
			</div>
		</div>
	</section>

	<div th:replace="include/footer :: templateFooter"/>


</body>

	<!-- 네이버 스크립트는 div naver_id_login 보다 먼저 선언되면 안된다  -->
	<script>

		var naver_id_login = new naver_id_login("LoJcFZie9GJNYfPWG7fD",
		"http://222.237.83.123:11000/loginSucess.do");
		var state = naver_id_login.getUniqState();
		naver_id_login.setButton("white", 2, 40);
		naver_id_login.setDomain("http://222.237.83.123:11000/");
		naver_id_login.setState(state);
		naver_id_login.setPopup();
		naver_id_login.init_naver_id_login();

	</script>





</html>
